/* Estilos generales */
* {
  box-sizing: border-box;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
  background-color: #fcf6ed;
}

.center {
  text-align: center;
  justify-content: space-around;
}

.container {
  margin-top: 1em;
  margin-left: .5rem;
  overflow: auto;
  display: flex;
  /* margin-bottom: 5em; */
}

/* Título del Encabezado */

nav .brand-logo {
  font-family: 'Tinos', serif;
  font-size: 2.5em;
}

/* Estilos descripción */
.text-style, p, li {
  font-size: 20px;
}

.style-info {
  padding-left: 1em;
}

li {
  padding: .5em;
}


/* Estilos a las imágenes */
.image {
  padding: .3em;
}

.gallery {
  padding: 2em;
}

.card {
  /* border: 1px solid #ABB2B9; */
  border: 1px solid #eacadd;
  border-radius: 4px;
}

.figcaption-position {
  background-color: rgba(140, 231, 79, 0.3);
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: relative;
}